* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: ariel, sans-serif;
}

nav.navbar {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
}

nav.navbar .background-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  z-index: -100;
}

nav.navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin-top: 0.7rem;
}

nav.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

nav.navbar .logo img {
  width: 12rem;
}

nav.navbar .search img {
  width: 1.5rem;
}

nav.navbar .design-left {
  position: absolute;
  left: 318px;
  top: 0;
  z-index: -21;
  width: 340px;
}

nav.navbar .fill-design {
  width: 68%;
  height: 594px;
  background-color: #2f2f2f;
  position: absolute;
  z-index: -20;
  top: 0;
  right: 0;
}
