@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Open+Sans:wght@300;400;500;700&family=Outfit:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --primary-dark: #2f2f2f;
  --primary-light: #f1f1f1;
  --secondary-dark: #303030;
  --primary-yellow-text: #ffc200;
  --primary-dark-text: #333333;
  --overlay-color: #ffd448;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-light);
  font-family: Open Sans, sans-serif;
  font-weight: 400;
}

button {
  width: 10rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  padding: 10px;
  background: var(--primary-yellow-text);
  color: var(--primary-dark-text);
  border: none;
  border-radius: 3px;
}

nav.navbar {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
}

nav.navbar .background-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  z-index: -100;
}

nav.navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin-top: 0.7rem;
}

nav.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

nav.navbar .logo img {
  width: 12rem;
}

nav.navbar .search img {
  width: 1.5rem;
}

nav.navbar .design-left {
  position: absolute;
  left: 318px;
  top: -20px;
  z-index: -21;
  width: 350px;
}

nav.navbar .fill-design {
  width: 68%;
  height: 594px;
  background-color: var(--primary-dark);
  position: absolute;
  z-index: -20;
  top: 0;
  right: 0;
}

.header-wrapper {
  width: 100%;
  height: 85vh;
}
/* Header */
header {
  position: absolute;
  right: 5rem;
  top: 11rem;
  width: 750px;
  display: flex;
  flex-direction: column;
}

header img {
  display: none;
}

header h1 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-family: "Pacifico", cursive;
  font-size: 3rem;
  color: var(--primary-yellow-text);
}
header p {
  color: #fff;
  margin-bottom: 2rem;
  line-height: 25px;
  font-size: 17px;
  letter-spacing: 2px;
  padding-right: 5rem;
  text-align: justify;
}

/* Hero Section */
.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ccc; */
  padding: 3.5rem 0;
}

.hero-section .section-flex {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.hero-section-title {
  text-align: center;
  margin-bottom: 3.5rem;
}

.hero-section-title h2 {
  font-family: "Open Sans";
  font-size: 2.5em;
  margin-bottom: 1.5rem;
}

.hero-section-title p {
  margin: 0 12rem;
}

.hero-section-dishes .dishes-flex {
  width: 100%;
  display: flex;
  gap: 5.5rem;
  text-align: center;
}

.hero-section-dishes .dishes h3 {
  font-family: "Pacifico", cursive;
  margin: 0.6rem 0;
  cursor: pointer;
}

.hero-section img {
  width: 45%;
  border-radius: 50%;
}

/* Section One */
.section-one {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section-one .design-top {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  position: absolute;
  z-index: -23;
}
.section-one .design-top img {
  width: 120%;
}

.section-one .design-top .bottom-smooth {
  position: absolute;
  height: 10vh;
  bottom: 0;
  z-index: -22;
}

.section-one .order-now {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding: 0 11rem;
  position: absolute;
  top: 11rem;
}

.order-now .dish-description h2 {
  margin-bottom: 1.2rem;
  font-size: 3em;
  font-family: "Pacifico", cursive;
  color: var(--primary-yellow-text);
}

.order-now .dish-description p {
  margin-bottom: 1.2rem;
  color: #fff;
  line-height: 25px;
  padding-right: 7rem;
}

.section-one .order-now img {
  width: 250px;
  border-radius: 50%;
}

/* Section two Statistics */

.section-two.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-two.statistics .top {
  text-align: center;
  margin-bottom: 3.5rem;
}

.section-two.statistics .top h2 {
  margin-bottom: 1rem;
  font-family: "Pacifico", cursive;
  font-size: 3em;
  color: var(--primary-yellow-text);
}

.section-two.statistics .top p {
  padding: 0 22rem;
  line-height: 20px;
  color: #fff;
}

.section-two.statistics .bottom {
  display: flex;
  gap: 3rem;
}

.section-two.statistics .bottom .circle {
  border: 2px solid var(--primary-yellow-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  color: #fff;
}

.section-two.statistics .bottom .circle p:nth-child(1) {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 2em;
}

.section-two.statistics .bottom .circle p:nth-child(2) {
  font-weight: bold;
}
